body {
    margin: 0;
    font-family: Tahoma;
}

h3 {
    margin: 5px;
}

ul {
    margin-left: 5px;
}

div.header_container {
    width: 100%;
    height: 159px;
    min-width: 730px;
    background-image: url( '../images/banner_bg.gif' );
    background-repeat: repeat-x;
    background-position: left top;
    width: 100%;
}

div.header_content {
    float: left;
    width: 100%;
}

.pushPanel {
    width: 48%;
    float: left;
    height: 100%;
    min-height: 420px;
}

.panelContent {
    background-color: #EFEFEF;
    border: thin solid #B9D6E8;
    float: left;
    margin: 0 20%;
    height: 300px;
    padding: 1%;
    width: 50%;
    overflow: auto;
}