/*
 *
 * Version: MPL 1.1
 *
 * "The contents of this file are subject to the Mozilla Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations under
 * the License.
 *
 * The Original Code is ICEfaces 1.5 open source software code, released
 * November 5, 2006. The Initial Developer of the Original Code is ICEsoft
 * Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
 * 2004-2010 ICEsoft Technologies Canada, Corp. All Rights Reserved.
 *
 * Contributor(s): _____________________.
 *
 *
 */
body {
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
}

body, html {
    height: 100%;
    height: 99% !important;
    margin: 0;
    padding: 0;
}

.nameLabel, .moodLabel, .thoughtLabel, .messageLabel, .regionLabel {
    width: 100%;
    text-align: right;
}

.nameInput, .moodInput, .thoughtInput, .messageInput, .regionInput {
    width: 100%;
    padding: 3px;
}

.inputSet {
    width: 25%;
    margin-bottom: 5px;
}

.worldPanel {
    width: 50%;
    border: 5px outset #ABABAB;
    padding: 10px;
    margin-top: 25px;
}

.regionPanel {
    border-bottom: 1px solid #ABABAB;
    padding-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.regionHeader {
    font-weight: bold;
    font-size: 14px;
}