<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://java.sun.com/jsf/facelets" 
		     xmlns:h="http://java.sun.com/jsf/html"
		     xmlns:f="http://java.sun.com/jsf/core">
	<h:panelGrid columns="3" styleClass="inputSet"
				 columnClasses="inputSetColLabel,inputSetColInput,inputSetColError">
		<h:outputLabel for="nickname" value="Nickname:" styleClass="nameLabel"/>
		<h:inputText id="nickname" styleClass="nameInput" maxlength="15" required="true"
		             value="#{personModel.name}">
			<f:validateLength minimum="0" maximum="15"/>
		</h:inputText>
		<h:message for="nickname"/>
		
		<h:outputLabel for="mood" value="Mood" styleClass="moodLabel"/>
		<h:selectOneMenu id="mood" styleClass="moodInput" required="true"
						 value="#{personModel.mood}">
			<f:selectItem itemLabel="Average" itemValue="average"/>
			<f:selectItem itemLabel="Shocked" itemValue="shocked"/>
			<f:selectItem itemLabel="Angry" itemValue="angry"/>
			<f:selectItem itemLabel="Happy" itemValue="happy"/>
			<f:selectItem itemLabel="Sad" itemValue="sad"/>
		</h:selectOneMenu>
		<h:message for="mood"/>
		
		<h:outputLabel for="thoughts" value="Thoughts:" styleClass="thoughtLabel"/>
		<h:inputText id="thoughts" styleClass="thoughtInput" maxlength="150" required="true"
		             value="#{personModel.comment}">
			<f:validateLength minimum="0" maximum="150"/> 
		</h:inputText>
		<h:message for="thoughts"/>
		
		<h:outputLabel for="message" value="Message:" styleClass="messageLabel"/>
		<h:inputText id="message" styleClass="messageInput" maxlength="150"
					 value="#{personModel.messageIn}">
			 <f:validateLength minimum="0" maximum="150"/>
	    </h:inputText>
	    <h:message for="message"/>
		
		<h:outputLabel for="region" value="Region:" styleClass="regionLabel"/>
		<h:selectOneMenu id="region" styleClass="regionInput" required="true"
		                 value="#{personModel.region}" valueChangeListener="#{personRegion.changed}">
			<f:selectItem itemValue="4" itemLabel="North America"/>
			<f:selectItem itemValue="3" itemLabel="Europe"/>
			<f:selectItem itemValue="5" itemLabel="South America"/>
			<f:selectItem itemValue="2" itemLabel="Asia"/>
			<f:selectItem itemValue="0" itemLabel="Africa"/>
			<f:selectItem itemValue="1" itemLabel="Antarctica"/>
		</h:selectOneMenu>
		<h:message for="region"/>
	</h:panelGrid>
	
	<h:messages globalOnly="true" layout="table"/>
</ui:fragment>