<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:place="http://java.sun.com/jsf/composite/comps"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
	<h:head>
		<title>ICEfaces 2.0 ICEpush Place</title>
		<h:outputStylesheet library="css" name="style.css"/>
	</h:head>
	<h:body>
	<center>
		<h:graphicImage library="images" name="world-map.png" styleClass="worldImage"
		                alt="The World"/>
		
        <place:floater list="#{personServiceImpl.world.africa}" startX="685" startY="185"/>
        <place:floater list="#{personServiceImpl.world.antarctica}" startX="685" startY="500"/>
        <place:floater list="#{personServiceImpl.world.asia}" startX="990" startY="155"/>
        <place:floater list="#{personServiceImpl.world.europe}" startX="695" startY="60"/>
        <place:floater list="#{personServiceImpl.world.northAmerica}" startX="380" startY="85"/>
        <place:floater list="#{personServiceImpl.world.southAmerica}" startX="470" startY="280"/>
        
		<ice:panelPopup autoPosition="10,10"
		                styleClass="consolePopup"
		                visible="true">
		    <f:facet name="header">
		        <h:form>
		            <ice:panelGrid columns="2">
                        ICEpush Place Console
                        <h:commandLink value="#{mapBean.consolePopupVisible ? 'Collapse' : 'Expand'}"
                                       actionListener="#{mapBean.toggleConsolePopup}"
                                       immediate="true"/>
                    </ice:panelGrid>
                </h:form>
		    </f:facet>
		    <f:facet name="body">
		        <ice:panelGroup>
		            <h:form>
		                <center>
		                    <h:outputLink value="world.jsf">Table View</h:outputLink>
                        </center>
                        
                        <ice:panelGroup rendered="#{mapBean.consolePopupVisible}">
                            <ui:include src="/WEB-INF/includes/person-input.xhtml"/>
                            
                            <center>
                                <h:commandButton value="Update" actionListener="#{personController.update}"/>
                            </center>
                        </ice:panelGroup>
		            </h:form>
		        </ice:panelGroup>
		    </f:facet>
		</ice:panelPopup>
	</center>
	</h:body>
</html>
